.thumbnail-img {
  width: 100px;
  margin: 5px;
}

.btn-thumb {
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .thumbnail-img {
    width: 60px;
  }
}
