.trophy-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-sm-bg.png');
  background-size: cover;
  background-position: center;
  width: 200px;
  min-height: 400px;
}

.reset-img {
  width: 35px;
  margin-right: 10px;
}
.reset-btn {
  background-color: #cf60c8;
  width: 150px;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
}

.reset-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.score-text {
  padding: 0px;
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  .trophy-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-lg-bg.png');
    background-size: cover;
    width: 400px;
    height: 600px;
  }
}
.trophy-image {
  width: 50%;
  padding: 0px;
  margin-top: 70px;
  margin-bottom: 0px;
}
.inner-trophy-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 30px;
  margin-top: 50px;
}
