.website-logo-dim {
  width: 100px;
}

@media screen and (min-width: 767px) {
  .website-logo-dim {
    width: 200px;
  }
}
.nav-container {
  background-color: #2c0e3a;
  background-size: cover;
  display: flex;
  justify-content: space-between;
}

.list-container {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.score-container {
  display: flex;
  margin-left: 10px;
}
p {
  color: white;
  margin-right: 10px;
}
.timer-img {
  width: 30px;
  height: 30px;
  align-self: center;
}
